body {
    background: #fff;
    overflow-x: hidden;
}


.login-form{
	padding: 50px 0;
}


.login-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.login-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.login-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3C9BA6;
    border: none;
    color: white;
    margin-top: 20px;
}

.bg-login-image {
    background: url(https://images.unsplash.com/photo-1546538915-a9e2c8d0a0b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80);
    background-position: center;
    background-size: cover
}
.bg-gradient-primary {
    background-color: #a1c2c6;
    background-image: linear-gradient(180deg, #3C9BA6 10%, #a1c2c6 100%);
    background-size: cover
}

@media (max-width: 576px) {
    .login-form form{
        padding: 50px 20px;
    }

    .login-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}



