.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .7rem;
  }

  .border-left-success {
    border-left: 0.5rem solid #19A7CE !important;
  }
  
  h2 {
    margin: 0;
    font-family:"Lato", sans-serif !important;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    color: #0A4D68;
    text-align: left;
    background-color: #fff;
  }